/* Roboto import */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

/* font styles */
.roboto {
    font-family: Roboto, sans-serif;
}
.font-medium {
    font-size: 36px;
}
.font-big {
    font-size: 54px;
}

/* margin padding styles */
.p-small {
    padding: 9px 18px;
}
.p-medium {
    padding: 18px 36px;
}
.mb20 {
    margin-bottom: 20px;
}
.mt20 {
    margin-top: 20px;
}

/* origin styles */
.outer {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
}
.button {
    width: 100%;
}