.outer-chat {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.rooms {
    width: 30vw;
    height: 50vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.room {
    width: 100%;
    max-width: 200px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}
.room:hover {
    border: 1px solid #BDBDBD;
}
.rooms-title {
    text-align: center;
}