.button-form {
    background-color: #01579B;
    border: 1px solid #01579B;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
}
/* quick fix for Link width */
.link {
    width: 100%;
}
.outer-join {
    justify-content: center;
    align-items: center;
}